<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Nauka</title>
    <link href="https://fonts.googleapis.com/css?family=Kirang+Haerang" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="../static/style/style_learning.css" th:href="@{/style/style_learning.css}" rel="stylesheet"/>
</head>

<body>
<header>
    <div>
        <div class="graduate-icon"><i class="fas fa-graduation-cap fa-8x"></i></div>
        <div class="title">Słówka angielskie - ucz się z nami </div>
    </div>
</header>

<section class="learning-page">


    <div th:unless="${userObject.isLogin()}" class="learning">
        <br>
       <b>Nie jesteś zalogowany</b>
    </div>

    <div th:if="${userObject.isLogin()}" class="learning">

        <div th:if="${infoAboutAnswear}" class="check-answear">
            <strong th:text="${infoAboutAnswear}"></strong>
        </div>


        <div class="list-words" th:each="word : ${userWord}" >

            <div class="justify-list">
                <div th:text="${word.getWord().getPolishWord()}"></div>
            </div>
            <div class="form-style">
            <form th:action="'/checkWord/' + ${word.getWord().getId()}" method="post" class="form-learning">
                <input class="input-learning" type="text"  name="checkWord" placeholder="Your answear">
                <button class="check-word-btn" type="submit">Sprawdź słowo</button>
            </form>
                <a th:href="'/delete/' + ${word.getWord().getId()}" class="delete-word">Usuń słowo</a>
            </div>
       </div>
    </div>
       <div class="back-button">
        <button onclick="location.href='/'" type="button" class="back-btn">Wróć na stronę główną</button>
       </div>

</section>


</body>
</html>